<div  class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 p-2 mb-2" *ngFor="let item of MyDet" >
      <ng-container *ngIf="item.status === false; else elseTemplate">
        <div style="background-color: rgb(252, 105, 130);" class="p-4">
          <h1>{{ item.id }}</h1>
          <p>{{ item.name }}</p>
          <p>{{ item.status }}</p>
          <button type="button" class="btn btn-primary" (click)="delete(item.id)">Удалить</button>
        </div>
      </ng-container>
      <ng-template #elseTemplate >
        <div style="background-color: rgb(217, 248, 105);" class="p-4">
          <h1>{{ item.id }}</h1>
          <p>{{ item.name }}</p>
          <p>{{ item.status }}</p>
          <button type="button" class="btn btn-primary" (click)="delete(item.id)">Удалить</button>
        </div>
      </ng-template> 
    </div>
  </div>

  <hr>

  <div class="row p-3" style="justify-content: center;">
    <div class="col-6" >
      <div class="form-group">
        <label for="card">Введите имя карточки</label>
        <input type="text" class="form-control" id="card" placeholder="Введите имя карточки" name="addCard" [(ngModel)]="Card" #addCard="ngModel"/>
      </div>
      <button type="submit" class="btn btn-primary" (click)="Onclick(addCard)">Добавить карточку</button>
    </div>
  </div>
</div>